.common-header {
    width: 100%;
    background-color: $primary;
    color: $light;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
        display: none;
        
        @media #{$tablet} {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    }

    .inner-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: $content-max-width;
        margin: auto;

        @media #{$tablet} {
            padding: 0 36px;
        }
    }
}