#bio { 
    .bio-container {
        display: grid;
        place-items: center;
        gap: 16px;

        .bio-img {
            margin-top: 20px;
        } 

        @media #{$desktop} {
            grid-template-columns: 1fr 1fr;
            place-items: start;

            .bio-img {
                margin-top: 0;
            } 
        }
    }
}