#home {
    min-height: calc(100vh - 120px);

    .homebg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        object-fit: contain;
    }
}