#links {
    h3 {
        margin: 16px 0 8px 0;
    }

    a {
        width: 100%;
    }

    .links-container {
        display: grid;
        place-items: center;
        gap: 16px;

        .links-img {
            margin-top: 20px;
        }
        
        @media #{$desktop} {
            grid-template-columns: 2fr 1fr;
            place-items: start;

            .links-img {
                margin-top: 0;
            }
        }

        .text {
            background-color: $tertiary;
            color: $light;
            padding: 1rem;
            
            ul {
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    cursor: pointer;

                    a,
                    &.rrss-item,
                    &.press-item {
                        &:hover,
                        &:focus {
                            background-color: $primary;
                        }
                    }

                }
            }
        }

    }
}