/* FONTS */

$main-font: "Bebas Neue", system-ui;
$secondary-font: "SUSE", sans-serif;

/* BREAKPOINTS */
$tablet: "(min-width: 768px)";
$desktop:"(min-width: 1280px)";
$desktop-lg:"(min-width: 1600px)";

/* COLORS */

//Neutrals
$dark: #050605; 
$light: #dce8db; 
$primary: #8d2327;
$primary-darken: darken($primary, 10);
$secondary: #433b24;
$tertiary: #7d7562;

//Utility
$color-error: #BF1722;
$color-success: #008000;
$color-warning: #F9E143;

// Other variables 
$content-max-width: 1200px;